@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Noto Serif', serif;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
